.step-item {
  @apply w-full flex justify-center flex-wrap relative;
}
.step-item:not(:first-child):before {
  @apply content-[""] bg-neutral-400 w-full h-[3px] absolute top-1/3 -translate-y-2;
}
.fa-container:not(:first-child):before {
  @apply left-2/4
}
.en-container:not(:first-child):before {
  @apply right-2/4
}
.step-item .step {
  @apply w-10 h-10 rounded-full flex justify-center items-center relative z-10 bg-[#5751E1] font-semibold cursor-pointer text-white;
}
.step-item .description {
  @apply w-full text-neutral-400 text-center text-sm mt-3;
}
.active .step {
  @apply bg-[#FFC224] text-[#161439];
}
.complete .step {
  @apply bg-[#5751E1];
}
.active .description {
  @apply text-DarkBlue;
}
.step-container-button {
  @apply bg-[#5751E1] text-white py-1.5 px-4 rounded-full;
  box-shadow: 4px 6px 0px #050071;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-[#5751E1];
}
