@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Iran-Sans";
    src: url(./assets/fonts/IRANSans.ttf);
  }
  @font-face {
    font-family: "Sahel";
    src: url(./assets/fonts/Sahel.ttf);
  }
  @font-face {
    font-family: "Pop-Medium";
    src: url(./assets/fonts/Poppins/poppins.medium.ttf);
  }
  @font-face {
    font-family: "Dana-Regular";
    src: url(./assets/fonts/Dana-family/Dana-Regular.ttf);
  }
  @font-face {
    font-family: "Dana-Bold";
    src: url(./assets/fonts/Dana-family/Dana-Bold.ttf);
  }
  @font-face {
    font-family: "Dana-Medium";
    src: url(./assets/fonts/Dana-family/Dana-Medium.ttf);
  }

  .scrollBehavior {
    overflow-x: auto;
    scrollbar-width: none;
  }
}

@layer components {
  .buttonPurple_shadow {
    box-shadow: 3px 5px 0px 0px #050071;
  }

  .buttonPurple_shadow:hover {
    box-shadow: 1px 2px 0px 0px #050071;
  }

  .buttonYellow_shadow {
    box-shadow: 3px 5px 0px 0px #3d3d3d;
  }

  .buttonYellow_shadow:hover {
    box-shadow: 1px 2px 0px 0px #3d3d3d;
  }

  .Box-shadow1 {
    box-shadow: 0px 0px 7px 1px #bbcbcf70;
  }

  .Box-shadow2 {
    box-shadow: 0px 0px 10px 2px #8f9ea1;
  }
  .statistics_holder {
    background: #282568;
    box-shadow: 0px 25px 70px rgba(40, 37, 104, 0.4);
    border-radius: 40px;
  }
  .boldStyle_text {
    @apply text-titleColor font-Sahel text-2xl sm:text-3xl;
  }

  .mediumStyle_text {
    @apply text-gray-500 text-base;
  }
  .faqMannequin_shadow {
    box-shadow: 9px 8px 0px #171717;
    transition: 0.3s;
  }
  .faqMannequin_shadow:hover {
    box-shadow: 5px 4px 0px #171717;
  }

  .bgGradient_menu {
    background: linear-gradient(90deg,
        rgba(87, 81, 225, 0) 0%,
        rgba(67, 63, 174, 0.5) 53.1%,
        rgba(48, 44, 123, 0) 100%);
    border-radius: 2px;
  }
  .specialRadius {
    border-radius: 40% 60% 36% 64% / 39% 67% 33% 61%;
  }
  .buttonSwiper_shadow {
    box-shadow: 2px 4px 0px #382900;
    transition: 0.2s;
  }
  .buttonSwiper_shadow:hover {
    box-shadow: 1px 2px 0px #382900;
  }
  .heroSection_box_shadow {
    box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .reverse-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  .main-container {
    @apply xl:w-4/5 sm:w-11/12  mobile:w-[98%] m-auto my-8;
  }

  .grid-list {
    @apply md:block;

    .course-item {
      @apply w-full flex gap-4;

      .comparison-btn{
        @apply  bg-grayCustom
      }
      .favorite-btn{
        @apply bg-grayCustom  p-1 rounded-xl  
      }

      .course-body{
        @apply w-4/5 ;
        
        .course-centerBody{
          @apply grid-cols-4   
        }
        .course-flexBody{
          @apply flex justify-between 
        }
        .course-bio{
          @apply block line-clamp-1
        }
      }
    }
  }


}