@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Iran-Sans';
        src: url(./assets/fonts/IRANSans.ttf);
    }

    @font-face {
        font-family: 'Pop-Medium';
        src: url(./assets/fonts/Poppins/poppins.medium.ttf);
    }


    @font-face {
        font-family: 'Dana-Regular';
        src: url(./assets/fonts/Dana-family/Dana-Regular.ttf);
    }

    @font-face {
        font-family: 'Dana-Bold';
        src: url(./assets/fonts/Dana-family/Dana-Bold.ttf);
    }

    @font-face {
        font-family: 'Dana-Medium';
        src: url(./assets/fonts/Dana-family/Dana-Medium.ttf);
    } 
}

@layer components {
    .BoxShadow-BtnBlue {
        box-shadow: 3px 5px 0px 0px #050071;
    }

    .BoxShadow-BtnBlue_Hover {
        box-shadow: 1px 2px 0px 0px #050071;
    }

    .BoxShadow-BtnOrange {
        box-shadow: 3px 4px 0px 0px #161439;
        border: 1px solid #161439;
    }

    .Box-shadow1 {
        box-shadow: 0px 0px 7px 1px #bbcbcf70;
    }

    .Box-shadow2 {
        box-shadow: 0px 0px 10px 2px #8f9ea1;
    }

    .reverse-img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}